<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="column-filter">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="2"/>
                <entry key="0" type="xstring" value="Star Rating Index"/>
                <entry key="1" type="xstring" value="screensize_inch"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="24"/>
                <entry key="0" type="xstring" value="Submit_ID"/>
                <entry key="1" type="xstring" value="Brand_Reg"/>
                <entry key="2" type="xstring" value="Model_No"/>
                <entry key="3" type="xstring" value="Family Name"/>
                <entry key="4" type="xstring" value="SoldIn"/>
                <entry key="5" type="xstring" value="Country"/>
                <entry key="6" type="xstring" value="screensize"/>
                <entry key="7" type="xstring" value="Screen_Area"/>
                <entry key="8" type="xstring" value="Screen_Tech"/>
                <entry key="9" type="xstring" value="Pasv_stnd_power"/>
                <entry key="10" type="xstring" value="Act_stnd_power"/>
                <entry key="11" type="xstring" value="Act_stnd_time"/>
                <entry key="12" type="xstring" value="Avg_mode_power"/>
                <entry key="13" type="xstring" value="SRI"/>
                <entry key="14" type="xstring" value="Labelled energy consumption (kWh/year)"/>
                <entry key="15" type="xstring" value="SubmitStatus"/>
                <entry key="16" type="xstring" value="ExpDate"/>
                <entry key="17" type="xstring" value="GrandDate"/>
                <entry key="18" type="xstring" value="Availability Status"/>
                <entry key="19" type="xstring" value="Power supply"/>
                <entry key="20" type="xstring" value="Tuner Type"/>
                <entry key="21" type="xstring" value="Registration Number"/>
                <entry key="22" type="xstring" value="Regulatory Standard"/>
                <entry key="23" type="xstring" value="screensize_category"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceInclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist"/>
            </config>
        </config>
    </config>
    <config key="variables"/>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.preproc.filter.column.DataColumnSpecFilterNodeFactory"/>
    <entry key="node-name" type="xstring" value="Column Filter"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.5.1.v202507241550"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.5.1.v202507241550"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Column Filter"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 2805, Cols: 2"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="e6f58c20-8ce2-4a25-a800-648e6a3e0ba5"/>
    </config>
</config>
